<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        a {
            margin-left: 1rem;
        }
    </style>
</head>

{#TODO: update me #}

<body class="d-flex flex-column h-100">
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Welcome</h1>
        <br>
        <p class="lead">
            Management commands:<br>
            <a href="{% url 'extract_products_details' %}">Update products details</a><br/>
            <br>
            Charts:<br>
            <a href="{% url 'stock_vs_out_of_stock' %}">In stock VS Out of stock books</a><br/>
            <br>
            Reports:<br>
            <a href="{% url 'in_stock_books' %}">In stock books</a><br/>
            <a href="{% url 'out_of_stock_books' %}">Out of stock books</a><br/>
            <br>
            Tools:<br>
            <a href="/admin">Admin panel</a><br/>
            <a href="/explorer">SQL explorer</a><br/>
            <a href="/graphql?query=%7B%0A%20%20books%20%7B%0A%20%20%20%20id%0A%20%20%20%20title%0A%20%20%20%20description%0A%20%20%7D%0A%7D%0A&operationName=null">GraphQL explorer</a><br/>
        </p>
    </div>
</main>
</body>
</html>
