<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

{#TODO: update me #}

<body class="d-flex flex-column h-100">
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">In stock/ Out of stock books</h1>
        <br><br>
        <canvas id="pie-chart" width="800" height="450"></canvas>
    </div>
</main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function () {
		new Chart(document.getElementById("pie-chart"), {
			type: 'pie',
			data: {
				labels: ["In stock books", "Out of stock books"],
				datasets: [{
					label: "Population (millions)",
					backgroundColor: ["#fa6685", "#fad042"],
					data: [{{ in_stock_books }}, {{ out_of_stock_books }}]
				}]
			},
			options: {
				title: {
					display: true,
					text: 'In stock/Out of stock books'
				}
			}
		});
	});
</script>
</html>
